---
layout: page
title: American Literacy Council
permalink: /index.html
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
          <h1 class="animated fadeInUp">American Literacy Council<br>
          &ensp; Advocates for<br>
          &ensp; Simplified Spelling</h1>
          <h2 class="animated fadeInUp">
            English spelling is needlessly difficult.</h2>
          <h2 class="animated fadeInUp">
            We can do better.</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>English spelling is needlessly difficult.</h2>
          </div>
            <ul>
            <li><h3>30 million adults in the United States (12%) cannot read or write above a third-grade level.</h3>
            <li><h3>Our difficult spelling system wastes countless educational hours.</h3>
            <li><h3>Poor reading and writing hinders learning and communicating in subsequent years.</h3>
            </ul>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/help.jpg" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>

<section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-6">
        <div class="block">
          <div class="section-title">
            <h2>We can do better.</h2>
          </div>
            <ul>
            <li><h3>English spelling could be based on rules and phonetics.</h3>
            <li><h3>Simplified spelling would greatly improve literacy and education.</h3>
            <li><h3>Children would learn to read and write correctly at a much earlier age, accelerating learning in all other subjects.</h3>
            </ul>
        </div>
    </div>
  </div>
</div>
</section>

<!-- Service Start -->
<section id="service">
  <div class="container">
    <div class="row">
        <div class="block">
          <div class="section-title">
            <h2>A message from the President</h2>
            <h3 align = "left">
English spelling is incredibly difficult, requiring many years of memorization to become proficient. At the same time, 30 million adults in the US cannot read or write above a third-grade level. The connection is obvious: difficult spelling hinders education and job opportunities.
            </h3><h3 align = "left">
For the past century, efforts at English spelling reform have failed because adults, who have already mastered complex spelling, don’t want to change. But now, the <em>computer</em> revolution provides the opportunity for a <em>literacy</em> revolution: everyone could choose between traditional spelling and a new simplified spelling system, on their own screens.
Since the 1980s, the American Literacy Council has developed a simplified spelling system based on phonetics and rules, and which ‘makes sense’ - it can be read immediately by current English readers.
            </h3><h3 align = "left">
Our complex spelling system is self-imposed, and we, as a society, have the power to change it. Computers provide a tool to transition, without forcing new spelling on anyone. 
Sensible English spelling would greatly benefit future generations of children, as well as foreign speakers the world over. Spelling reform would free up years of valuable class time.
Poor literacy is a huge problem, but noone ever talks about the fundamental cause of the problem, or how to fix it!
            </h3><h3 align = "left">
At the American Literacy Council, we are excited to share our ideas about how to reform English spelling!  Please look at <a href="/ts/soundspel">SoundSpel</a> and see what you think!
</h3>
        </div>
          <div class="section-title">
            <h2>A mesej frum th Prezident, in Soundspel!</h2>
            <h3 align = "left">
English speling is incredibly dificult, reqiering meny yeers of memorizaeshun to becum profishent. At th saem tiem, 30 milyon adults in th US cannot reed or riet abuv a therd-graed level. Th conecshun is obvius: dificult speling hinders ejucaeshun and job oportuenitys.
            </h3><h3 align = "left">
For th past senchery, eforts at English speling reform hav faeld becauz adults, hoo hav allredy masterd complex speling, don’t wont to chaenj. But now, th <em>compueter</em> revolooshun provieds th oportuenity for a <em>literasy</em> revolooshun: evrywun cuud chooz between tradishunal speling and a nue simplified speling sistem, on thair oen screens.
Sinss th 1980s, th American Literasy Counsil has developt a simplified speling sistem baest on fonetics and rools, and which ‘maeks sens’ - it can be red imeedyetly bi curent English reeders.
            </h3><h3 align = "left">
Our complex speling sistem is self-imposed, and we, as a sosieety, hav th power to chaenj it. Compueters provied a tool to tranzishun, without forsing nue speling on enywun.
Sensibl English speling wuud graetly benefit fuecher jeneraeshuns of children, as wel as forin speekers th werld oever. Speling reform wuud free up yeers of valueabl clas tiem.
Pur literasy is a huej problem, but noone ever tauks about th fundamental cauz of th problem, or how to fix it!
            </h3><h3 align = "left">
At th American Literasy Counsil, we ar exsieted to shair our iedeeas about how to reform English speling! Pleez luuk at <a href="/ts/soundspel">Soundspel</a> and see whut U think!
</h3>
        </div>
      <!---
      <div class="section-title">
        <h2>Our Services</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
      </div>
      -->
    </div>
      <!---
    <div class="row ">
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="icon ion-coffee"></i>
          <h4>Branding</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-compass"></i>
          <h4>Web Design</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-image"></i>
          <h4>App Design</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-bug"></i>
          <h4>Start Up</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-headphone"></i>
          <h4>Logo Design</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-leaf"></i>
          <h4>Development</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-planet"></i>
          <h4>Brand Identity</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-earth"></i>
          <h4>Brand Identity</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
    </div>
      -->
  </div>
</section>
<!---
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>We design delightful digital experiences.</h2>
          <p>Read more about what we do and our philosophy of design. Judge for yourself The work and results we’ve achieved for other clients, and meet our highly experienced Team who just love to design.</p>
          <a class="btn btn-default btn-call-to-action" href="#" >Tell Us Your Story</a>
        </div>
      </div>
    </div>
  </div>
</section>
      -->
<!---
<section id="call-to-action">
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>Fun Facts About Us</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% if site.data.funfacts.size > 0 %}
        <div class="block">
          {% for ff in site.data.funfacts %}
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="{{ ff.icon }}"></i>
                <h4 class="counter">{{ ff.counter }}</h4>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
                <img src="img/cotation.png" alt="IMG">
                <p>{{ tm.testimonial }}</p>
                <div class="user">
                  <img src="{{ tm.image }}" alt="Pepole">
                  <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
      -->
